**/.next/
**/.env*
!**/.env.example
**/.vercel/
**/assets/
**/build/
**/coverage/
**/data/
**/dist/
**/node_modules/
**/out/
**/package-lock.json
**/playwright-report/
**/public/
**/test-results/
**/next-env.d.ts
*.log
*.pem
*.tsbuildinfo
.DS_Store
